.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: rgb(44, 3, 44);
  }
  
  .bg-light {
    background-color: #d30404!important;
  }
  .navbar-light .navbar-nav .active>.nav-link{
    color: #e4cd00;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 25px;
  }
  .dropbtn {
    background-color: rgb(54, 12, 73);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: unset ;
    display: inline-block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: #06d0ab;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(0, 0, 0);}
  
  
  