<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta content="en-us" http-equiv="Content-Language">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
	
<title>Movie Match</title>
</head>
<body onload="PopularMoviePopulate()" class="mybg">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- "{{ url_for('top1000') }}" -->
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Find a Movie
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('forme') }}">For Me</a>
        <a class="dropdown-item" href="{{ url_for('forus') }}">For US</a>
      	<a class="dropdown-item" href="{{ url_for('top20') }}">Top 20</a>
        <a class="dropdown-item" href="{{ url_for('genres') }}">Genre</a>
        <a class="dropdown-item" href="{{ url_for('search') }}">Search</a>
      	<a class="dropdown-item" href=#>1</a>
      	<a class="dropdown-item" href=#>2</a>
        <a class="dropdown-item" href=#>3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<!-- <div class="container" style="max-width: 100%; padding: 5%; min-width: 99%;"> style="max-width: 100%; min-width: 99%; padding: 5%;"-->
 
<p class="text-center"> lets find a movie that you will enjoy.</p>

<div>
<h1 class="text-center"><strong>Movie Matcher</strong></h1>
<p class="text-center">Lets get started with your favorite movies genres , actors, and directors.</p>
<p class="text-center">* We will be using 'The Movie Database' (TMDB.com) to assist us in finding the movies you like.&nbsp; </p>
</div>


<div class="container text-center" style="max-width: 100%; min-width: 99%;">
  <div class="btn-group text-center">
    <button onclick="clearContent(); ActionMoviePopulate()" class="btn-group" type="button">Action</button>
    <button onclick="clearContent(); AdventureMoviePopulate()" class="btn-group" type="button">Adventure</button>
    <button onclick="clearContent(); AnimationMoviePopulate()" class="btn-group" type="button">Animation</button>
    <button onclick="clearContent(); ComedyMoviePopulate()" class="btn-group" type="button">Comedy</button>
    <button onclick="clearContent(); CrimeMoviePopulate()" class="btn-group" type="button">Crime</button>
    <button onclick="clearContent(); DocumentaryMoviePopulate()" class="btn-group" type="button">Documentary</button>
    <button onclick="clearContent(); DramaMoviePopulate()" class="btn-group" type="button">Drama</button>
    <button onclick="clearContent(); FamilyMoviePopulate()" class="btn-group" type="button">Family</button>
    <button onclick="clearContent(); FantasyMoviePopulate()" class="btn-group" type="button">Fantasy</button>
    <button onclick="clearContent(); HistoryMoviePopulate()" class="btn-group" type="button">History</button>
    <button onclick="clearContent(); HorrorMoviePopulate()" class="btn-group" type="button">Horror</button>
    <button onclick="clearContent(); MusicMoviePopulate()" class="btn-group" type="button">Music</button>
    <button onclick="clearContent(); MysteryMoviePopulate()" class="btn-group" type="button">Mystery</button>
    <button onclick="clearContent(); RomanceMoviePopulate()" class="btn-group" type="button">Romance</button>
    <button onclick="clearContent(); ScienceFictionMoviePopulate()" class="btn-group" type="button">Science Fiction</button>
    <button onclick="clearContent(); TVMovieMoviePopulate()" class="btn-group" type="button">TV Movie</button>
    <button onclick="clearContent(); ThrillerMoviePopulate()" class="btn-group" type="button">Thriller</button>
    <button onclick="clearContent(); WarMoviePopulate()" class="btn-group" type="button">War</button>
    <button onclick="clearContent(); WesternMoviePopulate()" class="btn-group" type="button">Western</button>
    <button onclick="clearContent(); init() " class="btn-group" type="button">search</button>

  </div>
</div>
  <h1 class="text-center"> Top 20 most popular movies from IMDB </h1>

  <div class="container" style="max-width: 100%; min-width: 99%;">
    <div id="image_gallery" class="align-center row image_gallery" style="max-width: 100%; min-width: 99%; padding: 5%;">
      <!-- movie posters go here: -->
      
    </div>

<!-- <div>
  <button onclick="clearContent(); init()" class="btn-group" type="button">search</button>
</div> -->
 
</div>
            </li>
        </ul>
    </div>
</nav>
 <!-- API Key -->
 <script src="{{ url_for('static', filename='js/config.js') }}"></script>
 <!-- Logic file -->
<script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>

</html>